name: gdl_molecule
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pandas
  - numpy
  - matplotlib
  - scikit-learn
  - tqdm
  - jupyter
  - pip
  - pip:
    - torch-geometric
